@import '../../../styles/config';

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    &.center {   
      width: 1000px;
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }
  div {
    &.card_categorie_center {
      margin: 50px;
      margin-bottom: 4rem;
      display: flex;
      width: 900px;
      justify-content: space-between;
      .description {
        margin: 2rem;
        text-align: left;
        width: 40vw;
        h2 {
          margin: 1rem;
        }
        p {
          margin: 2rem
        }
      }
    }
    &.card_categorie_left {
      margin: 50px;
      margin-bottom: 4rem;
      display: flex;
      width: 900px;
      justify-content: space-between;
      .description {
        margin: 2rem;
        text-align: left;
        width: 40vw;
        h2 {
          margin: 1rem;
        }
        p {
          margin: 2rem
        }
      }
      button {
        position: relative;
        top: 2rem;
        left: 8rem;
        width: 20vw;
        height: 50px;
        padding: 12px 20px;
        background: $background-grey;
        color: $secondary-color;
        font-size: 1rem;
        border: 1px solid $background-grey;
        border-left: none;
        cursor: pointer;
      }
    }
    &.card_categorie_right {
      margin: 50px;
      margin-bottom: 4rem;
      display: flex;
      width: 900px;
      justify-content: space-between;
      .description {
        margin: 2rem;
        text-align: right;
        width: 40vw;
        h2 {
          margin: 1rem;
        }
        p {
          margin: 2rem
        }
      }
      button {
        position: relative;
        top: 4rem;
        right: 6rem;
        width: 20vw;
        height: 50px;
        padding: 12px 20px;
        background: $background-grey;
        color: $secondary-color;
        font-size: 1rem;
        border: 1px solid $background-grey;
        border-left: none;
        cursor: pointer;
      }
    }
  }
}