@import '../../../styles/config';

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 400px;
  }
  div {
    &.center {   
      width: 1000px;
      margin-bottom: 4rem;
    }
  }
  div {
    &.card_categorie_center {
      margin-bottom: 0rem;
      margin-left: 5%;
      display: flex;
      align-items: center;
      width: 90%;
      justify-content: space-between;
      .description {
        text-align: center;
        width: 50%;
        ul {
          margin: 2rem;
          text-align: left;
        }
        h2 {
          margin: 1rem;
        }
        p {
          margin: 2rem
        }
      }
    }
    &.card_categorie_left {
      margin-bottom: 0rem;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      .description {
        text-align: left;
        width: 50%;
        h2 {
          margin: 1rem;
          margin-bottom: 0.5rem;
        }
        p {
          margin: 1rem;
        }
      }
    }
    &.card_categorie_right {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      .description {
        margin: 0rem;
        text-align: right;
        width: 50%;
        h2 {
          margin: 1rem;
        }
        p {
          margin: 2rem
        }
      }
    }
  }
}