@import '../../styles/config';

.suppliers_web {
  padding: 3rem;
  background-color: $background-grey;
  text-align: left;
  h2 {
    margin-left: 10vw;
    margin-bottom: 2rem;
    font-family: Orbitron;
  }
  ul {
    border-top: 1px solid #9e9e9ef1;
    padding: 2rem;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20vw;
    width: 60vw;
  }
}

.suppliers_mobile {
  height: 300px;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  background-color: $background-grey;
  text-align: center;
  h2 {
    margin-bottom: 2rem;
    font-family: Orbitron;
  }
  ul {
    border-top: 1px solid #9e9e9ef1;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
    height: 220px;
    li {
      margin: 1rem
    }
    div.arrow {
      &_left {
        position: absolute;        
        padding: 30px;
        text-align: center;
        left: 1rem;
        :hover, :target {
          background-color: $background-navbar;
        }
        
      }
      &_right {
        position: absolute;
        right: 1rem;
        padding: 30px;
        text-align: center;
        :hover {
          background-color: $background-navbar;
        }
      }
    }
  }
}