section.realisation {
  .linkBack_web {
    margin-top: 90px;
    margin-left: 3rem;
  }
  .linkBack_mobile {
    margin-top: 2rem;
    margin-left: 2rem;
  }
  h1 {
    margin: 1rem;
  }
  h1, h2, p {
    text-align: center;
  }
  p {
    margin: 1rem;
  }
  h2 {
    margin: 30vh;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    margin-left: 15vw;
    width: 70vw;
    li {
      div {
        width: 300px;
        height: 300px;
      }
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin: 1rem;
      cursor: pointer;
    }
  }
}

