$background-color: #272727;
$background-cards: #424040b0;
$background-contact: #272727cc;
$background-navbar: #131313c9;
$background-grey: #9e9e9ea4;
$primary-color: #cc0000;
$secondary-color: white;


@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron-Medium.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flex-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@mixin flex-wrap-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin center-component {
  width: 80vw;
  margin-left: 10%;
}

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}
@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return black;
  } @else {
    @return white;
  }
}