@import 'config';
 
html,
body {
  width: 100vw;
  background-color: $background-color;
  color: set-text-color($primary-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: $primary-color;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
}